<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" ng-src="{{question.gravatarUrl}}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{question.email}} asked:</h4>
    <div class="time hidden-xs">{{ question.createdAt | dateInWords }}</div>
    <div>{{question.body}}</div>
  </div>
</div>
<div ng-show="question.email === activeUser">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#editQuestionForm" aria-expanded="false" aria-controls="collapseExample">
    Edit Question
  </button>
  <button class="btn btn-primary" type="button" ng-click="deleteQuestion()">Delete Button</button>
</div>

<div class="collapse" id="editQuestionForm">
  <div class="well">
    <form class="form-horizontal" accept-charset="UTF-8" method="post" ng-submit="submitEditQuestion()">
      <input-form></input-form>
    </form>
  </div>
</div>


<br>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addAnswerForm" aria-expanded="false" aria-controls="collapseExample">
  Write Answer
</button>

<div class="collapse" id="addAnswerForm">
  <div class="well">
    <form class="form-horizontal" accept-charset="UTF-8" method="post" ng-submit="addAnswer()">
      <input-form></input-form>
    </form>
  </div>
</div>

<br>
<br>

<div class="boxes">
  <div class="media" ng-repeat="answer in answers">
    <div class="media-left">
      <a href="#">
        <img class="media-object" ng-src="....">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{answer.email}} answered:</h4>
      <div class="time hidden-xs">time....</div>
      <div>{{answer.body}}</div>
    </div>
  </div>
</div>
